
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    & .header {
        display: flex;
        width: 100%;
        background-color: rgba(211, 211, 211, 0.6);
        &__title {
            -webkit-app-region: drag;
            display: flex;
            width: 100%;
            text-align: left;
            align-items: center;
            & img {
                display: flex;
                width: 30px;
                margin-left: 12px;
                margin-right: 6px;
            }
            & h3 {
                margin: 10px;
                font-size: .95em;
            }
        }
        &__nav {
            -webkit-app-region: no-drag;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            & ul {
                display: flex;
                justify-content: center;
                padding-right: 7px;
                & #minimize {
                    font-size: 1.1em;
                }
                & #maximize i {
                    font-size: .77em;
                }
                & #close i {
                    font-size: .83em;
                }
                & li {
                    cursor: pointer;
                    margin-right: 18px;
                    font-size: 1.5em;
                }
            }
        }
    }
    & .bottom-nav {
        display: flex;
        width: 100%;
        background-color: rgb(168, 168, 168);
    }
}