
//Main-nav 
.main-nav {
    display: flex;
    flex-direction: column;
    border-top-left-radius: .4em;
    border-top-right-radius: .9em;
    background: linear-gradient(rgba(148, 148, 148, 0.75), rgba(148, 148, 148, 0.2));
    border: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
    padding: 8px 20px;
    letter-spacing: 1px;
    margin-left: 25px;
    &__top {
        display: flex;
        flex-direction: column;
        & h3 {
            color: rgba(0, 0, 0, 0.8);
            font-size: 1.45em;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.75);
            margin-bottom: 7px;
        }
        & li {
            font-size: 1.25em;
        }
    }
    &__bottom {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        height: 100%;
        &__icons {
            display: flex;
            & i {
                margin: 0 6px;
                font-size: .9em;
            }
        }
        &__credit {
            display: flex;
            text-align: center;
            margin-top: -15px;
            margin-bottom: 30px;
            & p {
                color: rgba(214, 214, 214, 0.8);
                font-size: .7em;
                letter-spacing: 1px;
            }
        }
    }
}