//Main-nav 

.main-nav {
    display: flex;
    flex-direction: column;
    border-top-left-radius: .4em;
    border-top-right-radius: .9em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(rgba(148, 148, 148, 0.75), rgba(148, 148, 148, 0.2));
    &__top {
        display: flex;
        flex-direction: column;
    }
    &__bottom {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        height: 100%;
        &__icons {
            display: flex;
        }
        &__credit {
            display: flex;
            text-align: center;
            & p {
                letter-spacing: 1px;
            }
        }
    }
} 

@media screen and (min-width: 0px) {
    .main-nav {
        line-height: 40px;
        padding: 8px 20px;
        letter-spacing: 1px;
        margin-left: 25px;
        &__top {
            & h3 {
                font-size: 1.45em;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.75);
                margin-bottom: 7px;
            }
            & li {
                font-size: 1.25em;
            }
        }
        &__bottom {
            &__icons {
                & i {
                    font-size: .9em;
                    margin: 0 6px;
                }
            }
            &__credit {
                margin-top: -15px;
                margin-bottom: 30px;
                & p {
                    color: rgba(214, 214, 214, 0.8);
                    font-size: .7em;
                }
            }
        }
    } 
}

@media screen and (min-width: 1215px) {
    .main-nav {
        &__bottom {
            &__icons {
                & i {
                    font-size: 1em;
                    margin: 0 6px;
                }
            }
            &__credit {
                margin-top: -15px;
                margin-bottom: 33px;
                & p {
                    color: rgba(214, 214, 214, 0.8);
                    font-size: .73em;
                }
            }
        }
    } 
}

@media screen and (min-width: 1350px) {
    .main-nav {
        line-height: 40px;
        padding: 13px 20px;
        letter-spacing: 1.1px;
        margin-left: 35px;
        &__top {
            & h3 {
                font-size: 1.75em;
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.75);
                margin-bottom: 10px;
            }
            & li {
                font-size: 1.45em;
            }
        }
        &__bottom {
            &__icons {
                & i {
                    font-size: 1.05em;
                    margin: 0 7px;
                }
            }
            &__credit {
                margin-top: -10px;
                margin-bottom: 35px;
                & p {
                    color: rgba(214, 214, 214, 0.8);
                    font-size: .8em;
                }
            }
        }
    } 
}

@media screen and (min-width: 1920px) {
    .main-nav {
        line-height: 40px;
        padding: 13px 20px;
        letter-spacing: 1.1px;
        margin-left: 35px;
        &__top {
            & h3 {
                font-size: 2.1em;
                padding-bottom: 15px;
                border-bottom: 2px solid rgba(0, 0, 0, 0.75);
                margin-bottom: 15px;
            }
            & li {
                font-size: 1.7em;
                margin-bottom: 10px;
            }
        }
        &__bottom {
            margin-top: -5px;
            &__icons {
                & i {
                    font-size: 1.2em;
                    margin: 0 9px;
                }
            }
            &__credit {
                margin-bottom: 45px;
                & p {
                    color: rgba(214, 214, 214, 0.8);
                    font-size: .92em;
                }
            }
        }
    } 
}