
//Index
.index {
    &__content {
        &__login-form {
            & input:focus, textarea:focus {
                border: 1px solid red;
            }
            & #u, #p, #submit {
                transition-property: all;
                transition-duration: 175ms;
                outline: none;
                
            }
            & #u, #p {
                background-color: rgb(235, 235, 235);
                border: 2px solid rgb(155, 155, 155);
                &:focus {
                    border: 2px solid rgb(88, 88, 88);
                }
            }
            & #submit {
                background-color: rgb(196, 196, 196);
                border: 2px solid rgba(66, 66, 66, 0.5);
                color: rgb(0, 0, 0);
                &:hover {
                    border-top-left-radius: .6em;
                    border-bottom-right-radius: .6em;
                    background-color: rgba(80, 80, 80, 0.75);
                    border: 2px solid rgb(43, 43, 43);
                    color: white;
                }
            }
        }
    }
}

//About
.about {
    &__content {
        &__community {
            & a {
                color: rgb(0, 81, 105);
                &:hover {
                    color: rgb(0, 44, 58);
                }
            }
        }
        &__cgu {
            &__parts {
                & a {
                    color: rgb(0, 62, 112);
                    &:hover {
                        opacity: .75;
                    }
                }
            }
        }
    }
}

//Header
.header {
    &__nav {
        & ul {
            & li {
                transition-property: all;
                transition-duration: 150ms;
                background-color: rgba(151, 151, 151, 0.15);
                &:hover {
                    background-color: rgba(255, 255, 255, 0.25);
                }
            }
            & #close {
                &:hover {
                    color: rgb(184, 0, 0);
                }
            }
        }
    }
}

//Main-nav 
.main-nav {
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    height: 17.1%;
    &:hover {
        height: 70%;
    }
    &__top {
        & a {
            transition-property: padding, margin, color;
            transition-duration: 300ms;
            transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            padding-left: 0px;
            margin-left: 0px;
            color: rgba(0, 0, 0, 0.85);
            &:hover {
                color: black;
                margin-left: 3px;
                border-left: 2px solid black;
                padding-left: 7px;
            }
        }
    }
    &__active {
        & span {
            color: white;
            margin-left: 3px;
            border-left: 2px solid white;
            padding-left: 7px;
        }
    }
    &__bottom {
        &__icons {
            & #discord-icon {
                color: #7289DA;
            }
            & #twitter-icon {
                color: #1DA1F2;
            }
            & #github-icon {
                color: rgb(26, 26, 26);
            }
            & i {
                opacity: .8;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

//Options

.options {
    &__content {
        &__container {
            & a {
                color: rgb(0, 81, 105);
                &:hover {
                    color: rgb(0, 44, 58);
                }
            }
            & input {
                transition-property: all;
                transition-duration: 250ms;
                background-color: rgb(207, 207, 207);
                border: rgb(221, 221, 221) 1px solid;
                color: black;
                &:focus {
                    background-color: rgb(221, 221, 221);
                    border: white 1px solid;
                    color: black;
                }
            }
            & button {
                transition-property: all;
                transition-duration: 250ms;
                background-color: rgba(63, 63, 63, 0.5);
            }

            & #button-save-ram, #button-save-jvm, #button-save-res {
                &:hover {
                    background-color: rgb(0, 95, 24);
                }
            }
            & #button-reset-ram, #button-reset-jvm, #button-reset-res {
                &:hover {
                    background-color: rgb(197, 95, 0);
                }
            }
            &__parts {
                &__status {
                    .close-status {
                        &:hover {
                            color: rgb(218, 218, 218)!important;
                        }
                    }
                }
            }
        }
    }
}

//Mods

.modspr {
    &__content {
        &__container {
            &__mods {
                & button {
                    transition-duration: 150ms;
                    opacity: .8;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &__parts {
                & button {
                    transition-property: all;
                    transition-duration: 150ms;
                    opacity: .77;
                    background-color: rgba(129, 129, 129, 0.3);
                    border: 2px solid rgba(75, 75, 75, 0.4);
                    color: rgba(0, 0, 0, 0.9);
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}