
//Index
.index {
    &__content {
        &__login-form {
            & input:focus, textarea:focus {
                border: 1px solid red;
            }
            & #u, #p, #submit {
                transition-property: all;
                transition-duration: 175ms;
                outline: none;
                
            }
            & #u, #p {
                background-color: rgb(235, 235, 235);
                border: 2px solid rgb(155, 155, 155);
                &:focus {
                    border: 2px solid rgb(88, 88, 88);
                }
            }
            & #submit {
                background-color: rgb(196, 196, 196);
                border: 2px solid rgba(66, 66, 66, 0.5);
                color: rgb(0, 0, 0);
                &:hover {
                    border-top-left-radius: .6em;
                    border-bottom-right-radius: .6em;
                    background-color: rgba(80, 80, 80, 0.75);
                    border: 2px solid rgb(43, 43, 43);
                    color: white;
                }
            }
        }
    }
}

//About
.about {
    &__content {
        &__credits {
            & a {
                color: rgb(0, 81, 105);
                &:hover {
                    color: rgb(0, 44, 58);
                }
            }
        }
        &__cgu {
            &__parts {
                & a {
                    color: rgb(0, 62, 112);
                    &:hover {
                        opacity: .75;
                    }
                }
            }
        }
    }
}

//Header
.header {
    &__nav {
        & ul {
            & #minimize {
                transition-property: all;
                transition-duration: 150ms;
                transform: scale(1);
                &:hover {
                    transform: scale(.92);
                    margin-bottom: -4px;
                    color: rgb(82, 82, 82);
                }
            }
            & #maximize {
                transition-property: all;
                transition-duration: 250ms;
                transform: rotateZ(0deg);
                &:hover {
                    transform: rotateZ(180deg);
                    margin-bottom: -1px;
                    color: rgb(0, 106, 177);
                }
            }
            & #close {
                transition-property: all;
                transition-duration: 300ms;
                transform: rotateY(0deg);
                &:hover {
                    transform: rotateY(180deg);
                    color: rgb(207, 0, 0);
                }
            }
        }
    }
}

//Main-nav 
.main-nav {
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    height: 17.1%;
    &:hover {
        height: 70%;
    }
    & a {
        transition-property: padding, margin, color;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        padding-left: 0px;
        margin-left: 0px;
        color: rgba(0, 0, 0, 0.85);
        &:hover {
            color: black;
            margin-left: 3px;
            border-left: 2px solid black;
            padding-left: 7px;
        }
    }
    &__active {
        & span {
            color: white;
            margin-left: 3px;
            border-left: 2px solid white;
            padding-left: 7px;
        }
    }
}