
@keyframes pageLoading {
    from {
        opacity: 0;
    }to{
        opacity: 1;
    }
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: rgb(145, 145, 145);
    animation: fadein 2s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-name: pageLoading;
    font-style: normal;
    color:#000;
    & a {
        text-decoration: none!important;
        color:#000;
    }
    & li, button {
        cursor: pointer;
    }
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
    list-style-type: none;
}

#info-warn {
    color: rgb(117, 53, 0);
}
#main-container {
    background-size: cover;
    height: 100%;
}

.last-option {
    margin-bottom: 57.5px;
}