//About
.about {
    display: flex;
    align-items: flex-end;
    height: 100%;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 92%;
        height: 96%;

        //Parts
        &__parts {
            background-color: rgba(209, 209, 209, 0.8);
            & h1 {
                background-color: rgba(255, 255, 255, 0.3);
                text-align: center;
            }
            @media screen and (min-width: 0px) {
                & h1 {
                    font-size: 24px;
                }
            }
            @media screen and (min-width: 1350px) {
                & h1 {
                    font-size: 26px;
                }
            }
            @media screen and (min-width: 1920px) {
                & h1 {
                    font-size: 28px;
                }
            }
        }

        //Community
        &__community {
            display: flex;
            flex-direction: column;
            border-radius: 1em;
            margin-bottom: 20px;
            height: auto;
            & h1 {
                padding: 7px;
                margin: 15px 0 5px 0;
            }
            & p {
                display: flex;
                align-items: center;
                margin-top: 10px;
                & a {
                    margin-left: 4px;
                }
                & i {
                    color: #7289DA;
                }

            }
        }
        @media screen and (min-width: 0px) {
            &__community {
                width: 92%;
                padding-bottom: 12px;
                & p {
                    line-height: 25px;
                    margin-left: 15px;
                    font-size: 1.1em;
                    & i {
                        margin-right: 8px;
                        font-size: .9em;
                    }
    
                }
            }
        }
        @media screen and (min-width: 1080px) {
            &__community {
                width: 87%;
            }
        }
        @media screen and (min-width: 1350px) {
            &__community {
                width: 82%;
                padding-bottom: 15px;
                & p {
                    line-height: 25px;
                    margin-left: 17px;
                    font-size: 1.2em;
                    & i {
                        margin-right: 8px;
                        font-size: .9em;
                    }

                }
            }
        }
        @media screen and (min-width: 1920px) {
            &__community {
                width: 75%;
                padding-bottom: 17px;
                & p {
                    line-height: 28px;
                    margin-left: 20px;
                    font-size: 1.3em;
                    & i {
                        margin-right: 12px;
                        font-size: .95em;
                    }

                }
            }
        }

        //License
        &__license {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            border-top-left-radius: .5em;
            border-bottom-left-radius: .3em;
            margin-bottom: 60px;
            height: auto;
            &__title {
                & h1 {
                    margin-top: 18px;
                    margin-bottom: 8px;
                    padding: 10px;
                }
            }
            &__content {
                & h3 {
                    letter-spacing: 1px;
                    border-bottom: 1px solid black;
                    margin-bottom: 10px;
                }
            }
        }
        @media screen and (min-width: 0px) {
            &__license {
                width: 92%;
                &__content {
                    margin: 10px 20px;
                    & h3 {
                        padding-bottom: 7px;
                    }
                    & p {
                        font-size: 1.075em;
                    }
                }
            }
        }
        @media screen and (min-width: 1080px) {
            &__license {
                width: 87%;
                padding-bottom: 5px;
            }
        }
        @media screen and (min-width: 1350px) {
            &__license {
                width: 82%;
                padding-bottom: 10px;
                &__content {
                    margin: 10px 30px;
                    & h3 {
                        padding-bottom: 10px;
                        font-size: 1.2em;
                    }
                    & p {
                        font-size: 1.15em;
                        line-height: 25px;
                    }
                }
            }
        }
        @media screen and (min-width: 1920px) {
            &__license {
                width: 75%;
                padding-bottom: 10px;
                &__content {
                    margin: 15px 30px;
                    & h3 {
                        padding-bottom: 10px;
                        font-size: 1.35em;
                    }
                    & p {
                        font-size: 1.25em;
                        letter-spacing: .5px;
                        line-height: 27px;
                    }
                }
            }
        }
    }
} 