
//About
.about {
    display: flex;
    align-items: flex-end;
    height: 100%;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 96%;

        //Parts
        &__parts {
            background-color: rgba(209, 209, 209, 0.8);
            & h1 {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }

        //Community
        &__community {
            display: flex;
            flex-direction: column;
            width: 92%;
            height: 50%;
            margin-bottom: 20px;
            border-radius: 1em;
            & h1 {
                font-size: 24px;
                text-align: center;
                padding: 7px;
                margin: 15px 0 5px 0;
            }
            & p {
                display: flex;
                align-items: center;
                margin-top: 10px;
                line-height: 25px;
                margin-left: 15px;
                font-size: 1.12em;
                & a {
                    margin-left: 4px;
                }
                & i {
                    margin-right: 8px;
                    color: #7289DA;
                    font-size: .9em;
                }

            }
        }

        //CGU
        &__cgu {
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 92%;
            margin-bottom: 60px;
            border-top-left-radius: .5em;
            border-bottom-left-radius: .3em;
            &__start {
                & h1 {
                    font-size: 24px;
                    text-align: center;
                    margin-top: 18px;
                    margin-bottom: 8px;
                    padding: 10px;
                }
            }
            &__parts {
                background-color: rgba(230, 230, 230, 0.5);
                border-radius: .7em;
                padding: 12.5px 15px;
                margin: 10px 20px;
                & h3 {
                    border-bottom: 1px solid black;
                    padding-bottom: 7px;
                    letter-spacing: 1px;
                }
                & h4 {
                    margin-top: 17px;
                }
            }
            &__end {
                margin-bottom: 18px;
            }
        }
    }
}