
//Options
.options {
    display: flex;
    align-items: flex-end;
    height: 100%;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        width: 100%;
        height: 100%;
        &__container {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 92%;
            border-top-left-radius: .5em;
            border-bottom-left-radius: .3em;
            &__parts {
                background-color: $background-parts;
                border-radius: .7em;
                padding: 11.5px 13.5px;
                margin-top: 15px;
                & h2 {
                    @include parts-h2-pack-options
                }
                & p {
                    line-height: 20px;
                    margin-bottom: 7px;
                }
                & input {
                    margin: 5px;
                    height: 1em;
                    padding: 11px 6px;
                }
                & button {
                    font-size: .88em;
                    padding: 4.5px 6px;
                    margin-top: 7px;
                    border-radius: .3em;
                    color: rgb(231, 231, 231);
                    border: 1px solid rgba(255, 255, 255, 0.65);
                }
                & #button-reset-ram, #button-reset-jvm {
                    margin-left: 5px;
                }
                &__status {
                    height: 0;
                    display: flex;
                    margin-top: 4px;
                    align-items: center;
                    & #status-ram, #status-jvm, #status-res {
                        font-size: .85em;
                        margin-bottom: 0;
                        width: 100%;
                    }
                    & .close-status {
                        font-size: 1.2em;
                        margin-bottom: 0;
                        text-align: right;
                        margin-right: 8px;
                        padding: 1px 5px;
                        cursor: pointer;
                    }
                }
            }
            &__jvm {
                & input {
                    width: 20em;
                }
            }
            &__ram, &__res {
                & span {
                    position: relative;
                    font-size: .9em;
                    margin-right: 30px;
                }
                & input {
                    width: 9em;
                }
                & input[type="text"] {
                    font-size: 1.3em;
                    -moz-appearance: textfield;
                }
            }
            &__ram {
                & span {
                    margin-left: -38px;
                }
                & input {
                    padding-right: 33px;
                }
            }
            &__res {
                & span {
                    margin-left: -51px;
                }
                & input {
                    padding-right: 47px;
                }
                &__fullscreen {
                    display: flex;
                    align-content: center;
                    background-color: rgba(255, 255, 255, 0.15);
                    margin-top: 5px;
                    margin-bottom: 7px;
                    padding: 5px 0 2px 10px;
                    & input {
                        width: 20px;
                        height: 14px;
                    }
                }
                &__values {
                    width: 100%;
                }
            }
            &__launcher-options {
                & button {
                    margin: 0;
                }
            }
        }
    }
}