
//Updater
.updater {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    & h3 {
        font-family: 'Karla', sans-serif;
    }
    & button {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
}

//Header
.header {
    &__title {
        font-family: 'Karla', sans-serif;
        font-size: 1.3em;
    }
}

//Main-nav
.main-nav {
    &__top {
        font-family: 'Karla', sans-serif;
    }
    &__bottom {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

//Index
.index {
    &__content {
        &__login-form {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}
#game-launched {
    & p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

//Options
.options {
    &__content {
        & h2 {
            font-family: 'Karla', sans-serif;;
        }
        & p, label, span {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
        }
    }
}

//Pack
.pack {
    &__content {
        & h2 {
            font-family: 'Karla', sans-serif;;
        }
        & p, button {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
        }
    }
}

//About
.about {
    &__content {
        &__cgu {
            &__start {
                font-family: 'Karla', sans-serif;
            }
            &__parts {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
        &__community {
            & h1 {
                font-family: 'Karla', sans-serif;
            }
            & p {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
    }
}