
//Header
.header {
    &__title {
        font-family: 'Karla', sans-serif;
        font-size: 1.3em;
    }
}

//Index
.index {
    &__content {
        &__login-form {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}
#game-launched {
    & p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

//About
.about {
    &__content {
        &__cgu {
            &__start {
                font-family: 'Karla', sans-serif;
            }
            &__parts {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
        &__credits {
            & h1 {
                font-family: 'Karla', sans-serif;
            }
            & p {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
    }
}

//Main-nav
.main-nav {
    &__top {
        font-family: 'Karla', sans-serif;
    }
    &__bottom {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

//Options
.options {
    &__content {
        &__container {
            & h2 {
                font-family: 'Karla', sans-serif;;
            }
            & p, label, span {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
            }
        }
    }
}

//Mods
.mods {
    &__content {
        &__container {
            & h2 {
                font-family: 'Karla', sans-serif;;
            }
            & p {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
            }
        }
    }
}